body {
  background-color: lightgray;
  height: 100vh;
}

p {
  background-color: hotpink;
  background-color: yellow;
}

#p1, #p2 {
  background-color: orange;
}

p#p1.special {
  background-color: purple;
  color: white;
}

#p1.special {
  background-color: green;
  color: white;
}
