html,body,h1 {
  margin: 0;
}
h1 {
  font-size: 20vh;
  line-height: .6;
  color: rgba(255,255,255,.8);
  padding: 20px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: turquoise;
  text-stroke-width: 2px;
  text-stroke-color: turquoise;
}
body {
  height: 100vh;
}
