body {
  background-color: #ccc;
  font-family: sans-serif;
}

hr {
  border:none;
  border-top: 5px solid #222;
}

header {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-style: italic;
  color: #222;
}

nav li + li {
  border-left: 1px solid #222;
}

nav li a {
  color: #222;
  font-style: normal;
}

h1 {
  text-transform: uppercase;
}

main hr {
  border-width: 1px;
}

main {
  padding-left: 30px;
  padding-right: 30px;
}

img {
  width: 29%;
  float: right;
}

main h2 {
  text-transform: uppercase;
}

main p {
  font-family: serif;
}

main nav ul {
  text-align: center;
}

footer {
  clear: both;
}
