/* Relaxr Styles Week 4 */

/* This file adds a couple of fixes to our grid to make it center properly */
@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Lato:100i,300,700");

:root {
  --r-lightgray: #f0efef;
  --r-yellow: #f9e42e;
  --r-bright-yellow: #f5f82e;
  --r-darkblue: #033048;
  --r-gray: #606161;
  --r-black: #121212;
  --r-grid-unit: calc(100% / 12);
}

/* Added ::after, ::before */
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: var(--r-lightgray);
  font:  300 18px Lato, Helvetica, sans-serif;
}

button {
  padding: .75rem 1.1rem;
  margin: 0 auto;
  font-size: 1.25em;
  border-radius: .5rem;
  border-width: 0;
  font-weight: bold;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

header {
  background-color: var(--r-darkblue);
  padding: 1.5rem 0;
}

header nav li {
  padding-top: .5rem;
  padding-left: 2rem;
}

header nav a {
  color: var(--r-yellow);
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: var(--r-darkblue);
  color: white;
  padding-bottom: .75rem;
  clear: both;
}

footer::after {
  content:'Copyright 2015. Relaxr.';
  font-size: .85rem;
}

footer .sign-up {
  text-align: center;
  background-color: var(--r-yellow);
  padding: 2rem;
  margin-bottom: 3rem;
}

footer .sign-up button {
  background-color: var(--r-darkblue);
  color: white;
}

footer nav ul {
  margin: 2rem;
}

footer nav li {
  width: 3rem;
}

.row.main {
    padding: 1rem 0 5rem;
}

.right {
  text-align: right;
}

/* Fluid Grid based on float */

/* Added .container::after, .row::after */
.container::after,
.container::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}

/* Added clear rule for after elements */
.container::after,
.row::after {
  clear: both;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 90%;
}

/* Removed overflow rule and the width! The overflow
rule was a hack to create a new context and clear the
float, but now we're adding a an after element with a
clear: both rule.  The clear rule is more intutive.
Removing the width fixes the offset issue! */
.row {
  margin: 0 -1rem;
}

/* Added position relative and min-height rule */
[class*="col-"] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-1 {
  width: calc(var(--r-grid-unit) * 1);
}

.col-2 {
  width: calc(var(--r-grid-unit) * 2);
}

.col-3 {
  width: calc(var(--r-grid-unit) * 3);
}

.col-4 {
  width: calc(var(--r-grid-unit) * 4);
}

.col-5 {
  width: calc(var(--r-grid-unit) * 5);
}

.col-6 {
  width: calc(var(--r-grid-unit) * 6);
}

.col-7 {
  width: calc(var(--r-grid-unit) * 7);
}

.col-8 {
  width: calc(var(--r-grid-unit) * 8);
}

.col-9 {
  width: calc(var(--r-grid-unit) * 9);
}

.col-10 {
  width: calc(var(--r-grid-unit) * 10);
}

.col-11 {
  width: calc(var(--r-grid-unit) * 11);
}

.col-12 {
  width: 100%;
}
/* The menu toggle got added in our markup and we want it
to be hidden by default. We set the mousepointer to be the
hand, by default on mouse devices with the cursor property.
We're also setting the outline to none to remove the glowing
outline most browsers add to buttons by default. */
.navtoggle {
  display: hidden;
  outline: none;
  cursor: pointer;
}
