/*  Instead of having multiple linked css files
    and thus, multiple calls to the server, we're using
    the @import statement to import the base.css file
    directly into our page styles.  This will also help
    us to create a set of reuseable styles that promotes
    consistency and makes it easier to maintain the site. */

@import url("base.css");

article {
  border-bottom: 1px solid var(--r-darkblue);
  margin-bottom: 1.5em;
}

article h2 {
  color: var(--r-darkblue);
  margin-top: 2rem;
}

article img {
  width: 100%;
  margin: 1rem 0;
}

article p {
  color: var(--r-gray);
  line-height: 1.25;
  margin: 0 0 1rem;
}

.more {
  font-weight: bold;
  color: var(--r-darkblue);
  margin: 1rem 0 1.5rem;
}

article p.more {
  text-align: right;
}

article p.more::after {
  content:' >';
}

article p:first-of-type::first-letter {
  float: left;
  font-size: 3.5em;
  font-weight: bold;
  padding: 0 .1em 0 0;
  line-height: 1;
}

aside {
  color: var(--r-darkblue);
}

aside h3 {
  margin: 2rem 0 .5rem;
}

aside ul {
  list-style-type: none;
  padding-left: 0;
}

.ad {
  height: 30rem;
  position: relative;
}

.ad::before {
  content: 'Ad Unit';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}
