html, body {
  background-color: lightgray;
  font-family: sans-serif;
}

/* What happens if this rule is moved above the section p rule */

/* general sibling: All elements that are on the same level
   regardless if they are next to one another*/

section ~ p {
  background-color: purple;
}

p {
  background-color: red;
}

/* descendant combinator: All elements that are descendants. */

section p {
  background-color: hotpink;
}

/*  adjacent sibling combinator:  All elements that are on the same
    level and are directly adjacent */

section + p {
  background-color: blue;
}


/*  child combinator:  All elements that are children (one level deep)*/

section > p {
  background-color: yellow;
}


