html {
  font-family: sans-serif;
  background-color: #eee;
  margin:50px;
}

body {
  padding: 10px;
  border-top: 3px solid #555;
  border-bottom: 3px solid #555;
  max-width: 900px;
  margin: auto;
}

header {
  padding: 20px;
  text-align: center;
}

nav {
  font-weight: bold;
}

span {
  font-style: italic;
}

a {
  font-style: normal;
  color: #222;
}

h1 {
  margin: 0;
}

main {
  margin: 20px;
}

img {
  margin: 20px;
  width: 30%;
  float: right;
  padding: 10px;
  border: 1px solid #555;
}

h2 {
  text-transform: uppercase;
}

p, blockquote {
  font-family: serif;
  font-size: 18px;
}

footer {
  padding: 20px;
  text-align: center;
  clear: both;
}

