html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #7c7d7f;
  line-height: 1.5;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: inherit;
}

.secondary {
  background-color: #17898e;
  color: #ccc;
}

.primary {
  background-color: #213b6e;
  color: #ccc;
}

.highlight {
  background-color: #fac16f;
  color: #ce7800;
}

.dark {
  background-color: #222;
  color: #ccc;
}

.light {
  background-color: #ccc;
  color: #222;
}

.hands {
  background-image: url(../img/work-hands.jpg);
  background-size: cover;
}

.meeting {
  background-image: url(../img/work-meeting.jpg);
  background-size: cover;
}

nav {
  min-height: 4rem;
  text-align: right;
  padding: 1rem 3rem 0;
}

#menu {
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  display: none;
}

.open #menu {
  display:block;
}

#menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 1rem;
  display: block;
}


#menu-toggle {
  height: 2rem;
}

#how {
  background: #7c7d7f url(../img/launch.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
  color: white;
  padding: 3rem;
}

#how>div {
  background-color: rgba(20,93,125,.5);
  margin: 2rem 0;
  padding: 3rem;
}

.logo {
  display: block;
  max-width: 500px;
  margin: auto;
}

#openings {
  display: flex;
  flex-wrap: wrap;
}

#openings>div {
  padding: 2rem;
  width: 50%;
}

#startups {
  padding: 3rem;
}

#startups>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: end;
}

#startups img {
  width: 100%;
  opacity: .75;
}


#join {
  padding: 3rem;
}

#join> div {
  margin-bottom: 2rem;
}

.signup-form {
  font-size: 1.3em;
}


.signup-form label,
.signup-form input,
.signup-form button {
  display: block;
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 8px;
}
label {
  margin: 1rem 0;
}
button {
  border: 0;
  font-size: 1.3rem;
  padding: .75rem 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0,0,0,.85);
}

footer {
  padding: 3rem;
}

footer nav {
  text-align: left;
  padding: 0;
}

footer nav a {
  color: white;
  text-decoration:none;
  display: block;
}

footer img {
  opacity: .5;
}

@media (min-width: 768px) {

  .open #menu,
  #menu {
    display: flex;
    width: 75%;
  }

  #menu a {
    display: inline-block;
  }

  #menu-toggle {
    display: none;
  }

  #how .logo {
    margin-left: 3rem;
    width: calc(75% - 6rem);
  }

  #how>div {
    width: 75%;
  }

  #openings>div {
    width: calc(100%/3);
  }

  #openings div:nth-child(4) {
    order: 1;
  }

  #join {
    overflow: hidden;
  }

  #join>div {
    width: 50%;
    float: left;
  }


  footer .logo {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
  }


  footer {
    position: relative;
  }
}

@media (min-width: 992px) {

  #how .logo {
    width: calc(50% - 6rem);
  }

  #how>div {
    width: 50%;
  }

  #openings>div {
    width: 25%;
  }

  #openings div:nth-child(4) {
    order: initial;
  }

  #startups > div {
    grid-template-columns: repeat(6, 1fr);
  }
}

span.circle-behind {
  position: relative;
}

span.circle-behind::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  background-color: pink;
}
