/*  Instead of having multiple linked css files
    and thus, multiple calls to the server, we're using
    the @import statement to import the base.css file
    directly into our page styles.  This will also help
    us to create a set of reuseable styles that promotes
    consistency and makes it easier to maintain the site. */

@import url("base.css");

header {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  background-color: transparent;
}

.landing {
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 11rem;
  background: var(--r-lightgray) url("../images/header_bg.jpg") no-repeat center / cover;
}

.landing h1 {
  font-size: 3em;
  text-align: center;
  margin: 0 0 11rem;
}

.landing button {
  background-color: var(--r-yellow);
  color: var(--r-darkblue);
}

.landing button:hover {
  background-color: var(--r-bright-yellow);
}

.benefits {
  padding: 100px;
  font-size: 1.25em;
  line-height: 1.5;
  color: var(--r-darkblue);
}

.benefits p, .benefits ul {
  width: calc(var(--r-grid-unit) * 7);
}

.quote {
  padding: 2.5rem 20%;
  font-size: 1.75em;
  color: var(--r-lightgray);
  text-align: center;
  background: url("../images/testimonial_bg.jpg");
}

.quote blockquote {
  font-weight: 100;
  font-style: italic;
}

.quote cite {
  font-style: normal;
  font-weight: 700;
}

/* Media Queries to handle mobile */

@media only screen and (max-width: 768px) {
    /* For small and extra small devices */
    header {
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: transparent;
    }
    .landing {
      padding-top: 8rem;
    }

    .landing h1 {
      font-size: 2em;
      margin: 0 0 3rem;
    }

    .landing, .benefits {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .benefits p, .benefits ul {
      width: 100%;
    }
}
