html {
  background-color: lightgray;
}

body {
  background-color: salmon;
}

section {
}

div {
  background-color: hotpink;
  height: 10vh;
  width: 10vh;
}


#el2 {
  background-color: purple;
}

#el3 {
  background: red;
}

#el4 {
  background: blue;
}

.green {
  background: green;
}




